
.navbar{
    /*top: 0;*/

}
body{
   background: black;
}
section {

           position: relative;
           display: flex;
           flex-direction: column;
           align-items: center;
           min-height: 400px;
           padding: 100px 20vw;


       }
#hero3{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #434343, #000000);
   background-repeat: no-repeat;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}


.infoBlock{
   box-shadow: 12px 12px 5px rgba(0, 0, 255, .2);
}

