# Ignore Python virtual environment
.venv

# Ignore Node.js dependencies
node_modules

# Ignore other temporary or unnecessary files
*.log
__pycache__/
*.pyc
.DS_Store
main/python/similarity_matrix.pkl
**/node_modules
**/dist
**/build
**/.git
**/venv/