// Custom.scss
// Option B: Include parts of Bootstrap


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)


// 2. Include any default variable overrides here


@import "../../node_modules/bootstrap/scss/functions";


// 2. Include any default variable overrides here
$primary: #faebd7;
$secondary: #C62368;
$info: #3E92CC;
$success: #39375B;
$danger: #00916E;
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";


// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";
// 3. Include remainder of required Bootstrap stylesheets


@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/transitions";


@import "../../node_modules/bootstrap/scss/utilities/api";
// 5. Add additional custom code here
@mixin textGradient1() {
 /*color: antiquewhite;*/
 background: -webkit-linear-gradient(#52c234, #061700);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}


@mixin textGradient2() {
 /*color: antiquewhite;*/
 //#5433ff, #20bdff, #a5fecb
 background: -webkit-linear-gradient(#5433ff, #20bdff, #a5fecb);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}




@mixin textGradient3() {
 /*color: antiquewhite;*/
 //#5433ff, #20bdff, #a5fecb
 background: -webkit-linear-gradient(#f12711, #f5af19);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}




@mixin textGradient4() {
 /*color: antiquewhite;*/
 //#5433ff, #20bdff, #a5fecb
 background: -webkit-linear-gradient(#ad5389, #3c1053);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}


@mixin textGradient5() {
 /*color: antiquewhite;*/
 //#5433ff, #20bdff, #a5fecb
 background: -webkit-linear-gradient(#cc2b5e, #753a88);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.customHover {
@include textGradient5();
}




.waves {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
 line-height: 0;
 transform: rotate(180deg);
}


.waves svg {
 position: relative;
 display: block;
 width: calc(124% + 1.3px);
 height: 172px;
}






.spacer {
 aspect-ratio: 920/250;
 width: 100%;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}


.layer1 {
 background-image: url('../assets/waves.svg')
}
.heroback, .stackedHaikei {
 aspect-ratio: 900/600;
 width: 100%;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}


.layer2 {
 background-image: url('../assets/stacked-peaks-haikei.svg')
}
.layer3 {
 background-image: url('../assets/stacked-steps-haikei.svg')
}

.blurryBg{
  background-image: url('../assets/blurry-gradient-haikei-3.svg')
}
.blob2{
  background-image: url('../assets/blob-scene-haikei-1.svg')
}
.lowPoly{
  background-image: url('../assets/low-poly-grid-haikei.svg')
}
.lowPoly1{
  background-image: url('../assets/low-poly-grid-haikei-1.svg')
}
.lowPoly2{
  background-image: url('../assets/low-poly-grid-haikei-2.svg')
}
.lowPoly3{
  background-image: url('../assets/low-poly-grid-haikei-3.svg')
}

.waves2{
  background-image: url('../assets/layered-waves-haikei.svg')
}
.waves3{
  background-image: url('../assets/layered-waves-haikei-1.svg')
}

#heroText {
 @include textGradient2;
}




.sticky-top {
   position: -webkit-sticky !important;
   position: sticky !important;
   top: 0 !important;
   z-index: 1020 !important;
}
.navbar .navbar-nav .nav-link.active {
 color: $info;
}
.navbar .navbar-brand{
 @include textGradient1();
}


body{
   background: black;
}
section {

           position: relative;
           display: flex;
           flex-direction: column;
           align-items: center;
           min-height: 400px;
           padding: 100px 20vw;


       }
#hero3{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #434343, #000000);
   background-repeat: no-repeat;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.infoBlock{
   box-shadow: 12px 12px 5px rgba(0, 0, 255, .4);
 transition: box-shadow 1s,transform 1s;

}

.infoBlock:hover{
 box-shadow: 12px 12px 5px #cc2b5e;
  transform: scale(1.10);
}

.heroStart{
  animation-name: heroZoom;
  animation-duration: 2s;
}
.heroStart1{
  animation-name: heroZoom;
  animation-duration: 2s;
  animation-delay: .25s;
}
@keyframes heroZoom {
  from{
    transform: scale(.25,.25);
    opacity: 0;
  }
  to{
    transform: scale(1,1);
    opacity: 1;
  }
}

.infoHero{
  animation-name: infoSlideRight;
  animation-duration: 2s;
}
@keyframes infoSlideRight {
  from{
    margin-left: 100%;
  }
  to{
    margin-left: 0%;
  }
}
//@keyframes infoSlideLeft {
//  from{
//    transform: translateX(100%)
//  }
//  to{
//    transform: translateX(0%)
//  }
//}
//.navbar .navbar-nav .nav-link, .navbar .navbar-brand {
//  color: antiquewhite;
//}

